.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.btnStyle {
    margin-top: 13%;
    margin-bottom: 13%;
    height: 100px;
    width: 200px;
    background-color: #ffc12e;
    color: black;
    border-radius: 10px;
    font-size: medium;
}