<section class="auth-form-container">
    <form class="formular" [formGroup]="formGroup">
        <p>
            <mat-form-field appearance="standard" class="input-formular">

                <mat-label *ngIf="!formGroup.controls.title.invalid">
                    <mat-icon class="validInput">done</mat-icon>
                </mat-label>
                <mat-label>Titlu</mat-label>

                <input formControlName="title" matInput>
                <mat-icon matSuffix>person</mat-icon>

                <mat-hint>ex: Băsescu</mat-hint>
                <mat-error *ngIf="formGroup.controls.title.invalid">{{getErrorMessage("title")}}</mat-error>

            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="categContainer">

                <mat-label *ngIf="!formGroup.controls.category.invalid">
                    <mat-icon class="validInput">done</mat-icon>
                </mat-label>
                <mat-label>Categorie</mat-label>

                <mat-select formControlName="category">
                    <mat-option *ngFor="let categorie of categorii" [value]="categorie.value">
                        {{categorie.value}}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="formGroup.controls.category.invalid">{{getErrorMessage("category")}}</mat-error>

            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="datePickerContainer">

                <mat-label *ngIf="!formGroup.controls.expirationDate.invalid">
                    <mat-icon class="validInput">done</mat-icon>
                </mat-label>
                <mat-label>Data de expirare</mat-label>

                <input matInput [matDatepicker]="picker" formControlName="expirationDate">

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <mat-error *ngIf="formGroup.controls.expirationDate.invalid">{{getErrorMessage("expirationDate")}}
                </mat-error>

            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="standard" class="input-formular">

                <mat-label *ngIf="!formGroup.controls.valability.invalid">
                    <mat-icon class="validInput">done</mat-icon>
                </mat-label>
                <mat-label>Valabilitate(zile)</mat-label>

                <input matInput formControlName="valability">
                <mat-icon matSuffix>calendar_view_day</mat-icon>

                <mat-error *ngIf="formGroup.controls.valability.invalid">{{getErrorMessage("valability")}}</mat-error>

            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="textareaStyle">

                <mat-label *ngIf="!formGroup.controls.description.invalid">
                    <mat-icon class="validInput">done</mat-icon>
                </mat-label>
                <mat-label>Descriere</mat-label>

                <textarea formControlName="description" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>

                <mat-error *ngIf="formGroup.controls.description.invalid">{{getErrorMessage("description")}}</mat-error>

            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label *ngIf="!formGroup.controls.price.invalid">
                    <mat-icon class="validInput">done</mat-icon>
                </mat-label>
                <mat-label>Preț(lei)</mat-label>

                <input matInput formControlName="price">
                <mat-icon matSuffix>attach_money</mat-icon>

                <mat-error *ngIf="formGroup.controls.price.invalid">{{getErrorMessage("price")}}</mat-error>

            </mat-form-field>
        </p>

        <div class="imgInputContainer">
            <button title="Adaugă o imagine abonamentului." mat-fab type="button" (click)="fileInput.click()"
                class="photoBtn">
                <mat-icon matSuffix>add_a_photo</mat-icon>
                <input #fileInput type="file" (change)="onSelectFile($event)" style="display:none;" />
            </button> <br><br>
            <img [src]="url" width=100%> <br />
            <button *ngIf="url" type="button" mat-raised-button color="warn" (click)="removeImage()">Şterge
                poza</button>
        </div>

        <mat-error class="formErr" *ngIf="!isValid">{{getErrorMessage("form")}}</mat-error>
        <p class="finalErrorMessageStyle">
            <mat-error *ngIf="apiMsg">{{apiMsg}}</mat-error>
        </p>
        <div class="btnContainer">
            <mat-spinner *ngIf="isWaitingForApiResponse" diameter="30"></mat-spinner>
            <button *ngIf="!isWaitingForApiResponse" type="button" mat-stroked-button class="buttonBF"
                (click)="addAbonament()">Creează abonament</button> <br/>
        </div> <br>


    </form>
</section>