# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/beFit/web/dist
/beFit/web/tmp
/beFit/web/out-tsc
# Only exists if Bazel was run
/beFit/web/bazel-out

# dependencies
/beFit/web/node_modules

# profiling files
/beFit/web/chrome-profiler-events*.json
/beFit/web/speed-measure-plugin*.json

# IDEs and editors
/beFit/web/.idea
/beFit/web/.project
/beFit/web/.classpath
/beFit/web/.c9/
/beFit/web/*.launch
/beFit/web/.settings/
/beFit/web/*.sublime-workspace

# IDE - VSCode
/beFit/web/.vscode/*
/beFit/web/!.vscode/settings.json
/beFit/web/!.vscode/tasks.json
/beFit/web/!.vscode/launch.json
/beFit/web/!.vscode/extensions.json
/beFit/web/.history/*

# misc
/beFit/web/.sass-cache
/beFit/web/connect.lock
/beFit/web/coverage
/beFit/web/libpeerconnection.log
/beFit/web/npm-debug.log
/beFit/web/yarn-error.log
/beFit/web/testem.log
/beFit/web/typings

# System Files
/beFit/web/.DS_Store
/beFit/web/Thumbs.db
