.auth-form-container{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;

    border-radius: 4px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}

.formular{
    margin: 90px;
    margin-bottom: 60px;
}
.input-formular{
    width: 100%;
    padding:0px;
}
.auth-form-container>a{
    color: #ffa000;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.datePickerContainer {
    width: 100%;
}

.categContainer {
    width: 100%;
}

.imgInputContainer {
    margin: 3%;
}

.photoBtn {
    background-color: #ffc12e;
}

.textareaStyle {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .auth-form-container{
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }
}
@media only screen and (max-width: 700px) {
    .auth-form-container{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}
.validInput{
    color: #ffc12e;
    font-size: 16px !important;
}
.formErr{
    text-align: center;
    margin-bottom: 5px;
}