<section class="contentContainer">
    <div class="containerDetalii">
        <article>
            <h1 class="hParagraph">Abonament id</h1> <br>
            <div class="fontContainer">
                <p>Categorie: categorie</p>
                <p>Data adăugării: dd/mm/yyyy</p>
                <p>Valabil până la: dd/mm/yyyy</p>
                <p>Disponibil încă d zile.</p> <br>
            </div>

            <img src="assets/sala_fitness_1.png" width=80% class="imgStyle"> <br><br>

            <p class="descriptionStyle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id est laborum.
            </p> <br>

            <div class="btnContainer">
                <button mat-stroked-button class="buttonBF btnStyle" (click) ="openDialog()">Cumpără</button>
            </div>
        </article>
    </div>
</section>