<section class="contentContainer">
    <div class="containerDetalii" *ngIf="!isLoading">
        <article>
            <h1 class="hParagraph">{{details.title}}</h1> <br>
            <div class="fontContainer">
                <p>Categorie: {{details.category}}</p>
                <p>Data adăugării: {{details.addedDate}}</p>
                <p>Ofertă valabilă până la: {{details.expirationDate}}</p>
                <p>Valabil {{details.valability}} zile de la activare</p> <br>
            </div>

            <img [src]="details.image" width=80% class="imgStyle"> <br><br>

            <p class="descriptionStyle">
                {{details.description}}
            </p> <br>

            <div class="btnContainer">
                <button *ngIf="isAuth && details.active" mat-stroked-button class="buttonBF btnStyle" (click) ="openDialog()">Cumpără</button>
                <p style="color:red" *ngIf="!details.active">Acest abonament este inactiv.</p>
            </div>
        </article>
    </div>
</section>