.auth-form-container{
    width: 30%;
    height: 80%;
    background-color: white;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}

.formular{
    margin: 90px;
    margin-bottom: 60px;
}
.input-formular{
    width: 95%;
    padding:0px;
}
.auth-form-container>a{
    color: #ffa000;
}
.validInput{
    color: #ffc12e;
    font-size: 16px !important;
}
@media only screen and (max-width: 1200px) {
    .auth-form-container{
        width: 60%;
    }
}
@media only screen and (max-width: 800px) {
    .auth-form-container{
        width: 90%;
    }
}
@media only screen and (max-height: 800px) {
    .formular{
        margin: 40px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-height: 670px) {
    .formular{
        margin: 10px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-height: 630px) {
    .auth-form-container{
        overflow-y: scroll;
    }
}
