<div class="homeContainer">
    <div class="homeHelloContainer">
        <div class="homeTextWrapper">
            <h1 class="homeHeading">Bine ai venit!</h1>
            <p class="homeParagraph">
                Suntem foarte încântaţi că ai ales să ne vizitezi.
            </p>
            <p class="homeParagraph">
                Mergi în continuare pentru a vedea mai multe imagini despre ceea ce noi îţi putem oferi.
            </p>
            <p class="homeParagraph">
                Sau poţi merge direct să vezi <a [routerLink]="'/abonamente'">ofertele</a> noastre! ☺
            </p>
        </div>
    </div>
    <div class="homeDetailsContainer">
        <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background]="tile.color">
                <img *ngIf="tile.imagesrc != ''" src={{tile.imagesrc}} class="gridImage">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="homeend">
    </div>
</div>