<section class="contentContainer">
    <div class="containerProfil">
        <article *ngIf="!isLoading">
            <h3 class="headingDetalii">Datele tale de utilizator</h3>
            <div class="containerUtilizator">
                <p>Nume: {{userDetails.firstname}}</p>
                <p>Prenume: {{userDetails.lastname}}</p>
                <p>Număr de telefon: {{userDetails.phone}}</p>
                <p>Email: {{userDetails.email}}</p>
                <p>Balans cont: {{userDetails.balance}}</p>
                <button mat-stroked-button class="buttonBF" [routerLink]="'/profil/actualizare'">
                    Actualizare profil
                </button>
            </div>

        </article>
        <article *ngIf="!isLoading">
            <h3 class="headingDetalii">Abonamentele tale:</h3>
            <div class="containerAbonamente">
                <mat-table [dataSource]="userDetails.abonamente">

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> Nume </mat-header-cell>
                        <mat-cell class="cellTitle" *matCellDef="let item"> {{item.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="valability">
                        <mat-header-cell *matHeaderCellDef>
                            <span class="tabletext">Expiră la</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item">
                            <span class="tabletext">{{item.expirationDate}}</span>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </article>
    </div>
</section>