<section class="contentContainer">

    <form class="searchform" [formGroup]="formGroup">
        <mat-form-field class="searchbox">
            <input matInput placeholder="Caută" formControlName="searchInput"
                (input)="updateAbonamenteWhenSearch($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>

    <div class="containerabonamente" *ngIf="!isLoading">
        <mat-accordion multi>
            <mat-expansion-panel *ngFor="let abonament of abonamenteCopy">

                <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="abonament.active">
                        {{abonament.title}}
                    </mat-panel-title>
                    <mat-panel-title *ngIf="!abonament.active" class="notActive">
                        {{abonament.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <button class="adminbtn" mat-raised-button color="primary"
                    [routerLink]="'/admin/detalii_abonament/'+abonament.id">
                    Vezi detalii</button>
                <button class="adminbtn" mat-raised-button color="accent"
                    [routerLink]="'/admin/modificare_abonament/'+abonament.id">
                    Modifică</button>
                <button *ngIf="abonament.active" class="adminbtn" mat-raised-button color="warn"
                    (click)="openDialogDeactivate(abonament.title, abonament.id)">Dezactivează</button>
                <button *ngIf="!abonament.active" class="adminbtn" mat-raised-button class="buttonActivate"
                    (click)="openDialogActivate(abonament.title, abonament.id)">Activează</button>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>