.auth-form-container{
    width: 30%;
    height: 45%;
    background-color: white;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}


.formular{
    margin: 90px;
    margin-bottom: 60px;
}
.input-formular{
    width: 95%;
}
.auth-form-container>a{
    color: #ffa000;
}
@media only screen and (max-width: 1200px) {
    .auth-form-container{
        width: 45%;
    }
}
@media only screen and (max-width: 850px) {
    .auth-form-container{
        width: 60%;
        height: 60%;
    }
}
@media only screen and (max-width: 650px) {
    .auth-form-container{
        width: 75%;
    }
    .formular{
        margin: 30px;
    }
}
@media only screen and (max-height: 900px) {
    .auth-form-container{
        height: 50%;
    }
}
@media only screen and (max-height: 800px) {
    .auth-form-container{
        height: 65%;
    }
}
@media only screen and (max-height: 650px) {
    .auth-form-container{
        height: 80%;
    }
}
@media only screen and (max-height: 500px) {
    .formular{
        margin: 5px;
    }
    .auth-form-container{
        height: 95%;
    }
}
@media only screen and (max-height: 280px) {
    .auth-form-container{
        overflow-y: scroll;
    }
}
.validInput{
    color: #ffc12e;
    font-size: 16px !important;
}
