<section class="auth-form-container">
    <form class="formular">
        
        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label>Email</mat-label>
                <input matInput>
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-hint>ex: mircea_the_only_one@yahoo.com</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label>Parola</mat-label>
                <input matInput type="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>ex: AmPoRtoFelUGroS</mat-hint>
            </mat-form-field>
        </p>
        <button mat-stroked-button>Autentificare</button>
    </form>
    <a [routerLink]="'/inregistrare'">Sau înregistrează-te</a>
    <br/>
    <a [routerLink]="'/home'">Acasă</a>

</section>