<section class="auth-form-container">
    <form class="formular">
        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label>Nume nou</mat-label>
                <input matInput>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label>Prenume nou</mat-label>
                <input matInput>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label>Email nou</mat-label>
                <input matInput>
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label>Număr nou de telefon</mat-label>
                <input matInput>
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label>Parola actuală</mat-label>
                <input matInput type="password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="input-formular">
                <mat-label>Parola nouă</mat-label>
                <input matInput type="password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        </p>
        <div class="btnContainer">
            <button type="button" mat-stroked-button class="buttonBF btnStyle" (click) = "openDialog()">Actualizare date</button>
        </div>
    </form>
</section>