<div class="contentContainer">

    <div *ngIf="!isLoadingCategories" class="filtreContainer">

        <mat-form-field>
            <mat-label>Alege categoria</mat-label>
            <mat-select>
                <mat-option *ngFor="let categorie of categorii; let i = index" [value]="i">
                    {{categorie.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="abonamenteContainer" *ngIf="!isLoadingData">

        <div *ngFor="let item of paginationModel.abonamentList">

            <mat-card class="abonament" [routerLink]="['/abonamente/detalii_abonament',item.id]">
                <h3>{{item.title}}</h3>
                <img [src]="item.image" class="imgBF">
                <div class="abInfoStyle">
                    <span class="valabilityStyle">
                        <span class="bottomTextSize">{{item.valability}}</span>
                        <mat-icon class="bottomIcon">calendar_today</mat-icon>
                    </span>
                    <span class="priceStyle">
                        <span class="bottomTextSize">{{item.price}}</span>
                        <mat-icon class="bottomIcon">attach_money</mat-icon>
                    </span>
                </div>
            </mat-card>
        </div>

    </div>

    <div>
        <mat-paginator
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            [length]="abonamenteCount"
            (page)="pageEvent = update($event)">
        </mat-paginator>
    </div>

</div>