<div class="contentContainer">

    <span class ="topFilters">
        <span *ngIf="!isLoadingCategories" class="filtreContainer">

            <mat-form-field>
                <mat-label>Alege categoria</mat-label>
                <mat-select [(value)]="selectedCategory" (selectionChange)="updateByCategory()">
                    <mat-option *ngFor="let categorie of categorii" [value]="categorie.value">
                        {{categorie.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <span *ngIf="selectedCategory">
            <button mat-button class="btnRemoveFilters" (click) ="removeFilters()">Şterge filtre</button>
        </span>
    </span>
    <div class="abonamenteContainer" *ngIf="!isLoadingData">

        <div *ngFor="let item of paginationModel.abonamentList">

            <mat-card class="abonament" [routerLink]="['/abonamente/detalii_abonament',item.id]">
                <h3>{{item.title}}</h3>
                <img [src]="item.image" class="imgBF">
                <div class="abInfoStyle">
                    <span class="valabilityStyle">
                        <span class="bottomTextSize">{{item.valability}}</span>
                        <mat-icon class="bottomIcon">calendar_today</mat-icon>
                    </span>
                    <span class="priceStyle">
                        <span class="bottomTextSize">{{item.price}}</span>
                        <mat-icon class="bottomIcon">attach_money</mat-icon>
                    </span>
                </div>
            </mat-card>
        </div>

    </div>

    <div>
        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
            [length]="abonamenteCount" (page)="pageEvent = update($event)">
        </mat-paginator>
    </div>

</div>