<div class="contentContainer">

    <div class="filtreContainer">

        <mat-form-field>
            <mat-label>Alege categoria</mat-label>
            <mat-select>
                <mat-option *ngFor="let categorie of categorii" [value]="categorie.value">
                    {{categorie.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="abonamenteContainer">

        <mat-card class="abonament" [routerLink]="'/abonamente/detalii_abonament/1'">
            <h3>Abonament 1</h3>
            <img src="assets/sala_fitness_1.png" class="imgBF">
            <div class="abInfoStyle">
                <span class="valabilityStyle">
                    <mat-icon>calendar_today</mat-icon>
                </span>
                <span class="priceStyle">
                    <mat-icon>attach_money</mat-icon>
                </span>
            </div>
        </mat-card>

        <mat-card class="abonament" [routerLink]="'/abonamente/detalii_abonament/2'">
            <h3>Abonament 2</h3>
            <img src="assets/sala_fitness_1.png" class="imgBF">
            <div class="abInfoStyle">
                <span class="valabilityStyle">
                    <mat-icon>calendar_today</mat-icon>
                </span>
                <span class="priceStyle">
                    <mat-icon>attach_money</mat-icon>
                </span>
            </div>
        </mat-card>

        <mat-card class="abonament" [routerLink]="'/abonamente/detalii_abonament/3'">
            <h3>Abonament 3</h3>
            <img src="assets/sala_fitness_1.png" class="imgBF">
            <div class="abInfoStyle">
                <span class="valabilityStyle">
                    <mat-icon>calendar_today</mat-icon>
                </span>
                <span class="priceStyle">
                    <mat-icon>attach_money</mat-icon>
                </span>
            </div>
        </mat-card>

        <mat-card class="abonament" [routerLink]="'/abonamente/detalii_abonament/4'">
            <h3>Abonament 4</h3>
            <img src="assets/sala_fitness_1.png" class="imgBF">
            <div class="abInfoStyle">
                <span class="valabilityStyle">
                    <mat-icon>calendar_today</mat-icon>
                </span>
                <span class="priceStyle">
                    <mat-icon>attach_money</mat-icon>
                </span>
            </div>
        </mat-card>

        <mat-card class="abonament" [routerLink]="'/abonamente/detalii_abonament/5'">
            <h3>Abonament 5</h3>
            <img src="assets/sala_fitness_1.png" class="imgBF">
            <div class="abInfoStyle">
                <span class="valabilityStyle">
                    <mat-icon>calendar_today</mat-icon>
                </span>
                <span class="priceStyle">
                    <mat-icon>attach_money</mat-icon>
                </span>
            </div>
        </mat-card>

    </div>

    <div>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>

</div>