
.filtreContainer {
    padding-left: 20px;
}

.mat-card:hover{
    opacity: 0.75;
}
.mat-card:focus{
    outline: none !important;
}
.abonament {
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}

.imgBF {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.abonamenteContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.valabilityStyle {
    position: absolute;
    left: 8%;
}

.priceStyle {
    position: absolute;
    right: 8%;
}

.abInfoStyle {
    width: 100%;
    height: 20px;
    margin-top: 5%;
}

@media only screen and (max-width: 900px) {
    .abonamenteContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.mat-paginator {
    background-color: transparent !important;
}

.bottomTextSize {
    font-size: 150%;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.bottomIcon{
    vertical-align: middle;
}
.valabilityStyle>.bottomIcon{
    margin-bottom: 1px;
}
.btnRemoveFilters{
    background-color: transparent !important;
    border: 0 transparent !important;
}
